@import '../../../public/styles/color.scss';

.error {
  margin: 8px;
}

.edit-btn {
  color: $main-color;
  float: right;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.hidden {
  display: none;
}

.locate {
  margin: 8px 0px;
}

#input-location {
  width: 25%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.c-btn {
  font-size: 13px;
  height: 28px;
  min-width: 56px;
  padding: 0 12px 1px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  align-items: center;
  position: relative;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  margin: 8px 0px;
}

.outline {
  transition: all 80ms linear;
  background: $text-color;
  box-shadow: inset 0 0 0 1px rgba(29, 28, 29, 0.3);
  color: #1d1c1d;
  font-weight: 700;
}

.primary {
  margin-left: 80px;
  transition: all 80ms linear;
  background: #007a5a;
  color: $text-color;
  font-weight: 900;
  box-shadow: none;
}

.edit-btn {
  color: $main-color;
  float: right;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.edit-btn:hover {
  color: #007a5a;
}

// .hide-div {
//   display: none;
// }

.image-layout,
.video-layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  /* border: 1px solid black; */
}

.image-layout li,
.video-layout li {
  /* flex: 0 1 auto; */
  /* padding: 10px 15px; */
  margin: 12px;
}

img {
  vertical-align: middle;
}

.delete-record {
  margin-top: 60px;
}

.fas {
  display: inline-block;
  cursor: pointer;
}

.fa-trash {
  color: #5b616a;
  outline: none;
}

.trash {
  border: none;

  & > * {
    pointer-events: none;
  }
}

.fa-trash:hover {
  color: $primary-color;
}

// .modal {
//   display: none;
//   position: fixed;
//   z-index: 1;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   overflow: auto;
//   background-color: rgb(0, 0, 0);
//   background-color: rgba(0, 0, 0, 0.4);
//   padding-top: 8%;
// }

.del-content {
  border-radius: 8px;
  background: $text-color;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close-btn,
.close-page {
  top: 0;
  color: #000;
  float: right;
  font-size: 30px;
  font-weight: bold;
  padding-right: 8px;
}

.close-page:hover,
.close-page:focus {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
}

.title-background {
  background: #e4ebf1;
  padding: 20px;
  line-height: 1.25;
  border-radius: 8px 8px 0px 0px;
}

.del-question {
  line-height: 18px;
  padding: 20px;
}

.display-btn {
  padding: 1rem 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.bg-red {
  background: $primary-color;
  color: text-color;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 16px;
  outline: none;
}

.bg-cancel {
  background: #e4ebf1;
  color: #5a616a;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 16px;
  outline: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
}

.actions {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 30px;
  top: 35%;

  & > * {
    margin: 0.5rem 0;
    font-size: 1.2rem;
  }
}

.delete-record {
  margin-top: 60px;
}