@import '../../../public/styles/color.scss';

footer {
    position: relative;
    background: $main-color;
    width: 100%;
    bottom: 0;
    display: block;
    height: 50px;
  }
  
  .footer {
    color: $text-color;
    text-align: center;
    padding-top: 14px;
    font-weight: 600;
    width: inherit;
  }