@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Candal|Montserrat');
@import '../public/styles/color.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    min-height: 100vh;
    font-weight: 400;
    font-size: 1rem;
    background: $text-color;
    color: #383838;
  }

  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }

  .loader {
    display: none;
    text-align: center;
    margin-top: 20px;
  }

  @media screen and (min-width: 52em) {
    .centered {
      max-width: 52em;
    }
  }
  
  @media screen and (min-width: 30em) {
    nav ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 1024px) {
    .banner {
      max-width: 990px;
    }
  }
  
  @media (min-width: 768px) {
    .banner-text {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  }
  
  @media (min-width: 321px) {
    .banner-text h1 {
      font-size: 2.5rem;
    }
  }
  
  @media (min-width: 576px) {
    .page-container {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .page-container {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .row {
      padding: 30px 0;
    }
  }
  
  @media (min-width: 768px) {
    .left-side {
      width: 50%;
      float: left;
    }
  
    .right-side {
      width: 50%;
      float: left;
    }
  }
  
  @media (min-width: 768px) {
    .text-section {
      padding: 35px 0;
      position: relative;
      min-height: 225px;
    }
  }
  
  @media (min-width: 768px) {
    .text-section {
      padding: 35px 0;
      position: relative;
      min-height: 225px;
    }
  }
  
  @media (min-width: 768px) {
    .btn-container {
      position: absolute;
      bottom: 10px;
      left: 0;
    }
  }
  
  @media (min-width: 768px) {
    .btn {
      height: 50px;
      font-size: 18px;
    }
  }
  
  @media (max-width: 991px) and (min-width: 768px) {
    .media-list {
      height: 400px;
      overflow: auto;
    }
  }
  
  @media (max-width: 991px) and (min-width: 768px) {
    .media-item {
      padding: 10px 0;
    }
  }
  
  @media (max-width: 991px) and (min-width: 768px) {
    .comment {
      font-size: 14px;
    }
  }
  
  @media (max-width: 600px) {
    .row {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .column {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 500px) {
    .column {
      width: calc(50% - 2rem);
    }
  }
  
  @media (max-width: 768px) {
    .table-responsive > .table {
      margin-bottom: 0;
      background-color: transparent;
    }
  
    .table-responsive > .table > thead,
    .table-responsive > .table > tfoot {
      display: none;
    }
  
    .table-responsive > .table > tbody {
      display: block;
    }
  
    .table-responsive > .table > tbody > tr {
      display: block;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      margin-bottom: 1.6rem;
    }
  
    .table-responsive > .table > tbody > tr > td {
      background-color: $text-color;
      display: block;
      text-align: right;
    }
  
    .table-responsive > .table > tbody > tr > td[item-data]:before {
      content: attr(item-data);
      float: left;
      font-size: inherit;
      font-weight: 400;
      color: #757575;
    }
  
    .table-responsive > .table-border {
      border: 0;
    }
  
    .table-responsive > .table-border > tbody > tr > td {
      border: 0;
      border-bottom: 1px solid #e0e0e0;
    }
  
    .table-responsive > .table-border > tbody > tr > td:last-child {
      border-bottom: 0;
    }
  
    .table-responsive > .table-border > tbody > tr > td,
    .table-responsive > .table-border > tbody > tr:nth-child(odd) {
      background-color: $text-color;
    }
  
    .table-responsive > .table-border > tbody > tr > td:nth-child(odd) {
      background-color: #f5f5f5;
    }
  
    .table-responsive > tbody > tr:hover > td,
    .table-responsive > tbody > tr:hover {
      background-color: #fff;
    }
  
    .table-responsive > tbody > tr > td:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  
@media only screen and (min-width: 450px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 4px;
  }
  
}

.signUp-login {
    background: #f5f5f5;
    padding: 16px;
    border: 1px solid #e5e5e5;
    margin: 20px 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
  
    .form-group {
       margin-bottom: 14px;
       position: relative;
     }

     h3 {
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin: 2px 0px 30px;
        color: $main-color;
      }

      .form-control {
       height: 40px;
       color: $main-color;
       padding-right: 36px;
      }
}

.form-control {
    display: block;
    outline: none;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.95rem;
    background-color: $text-color;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  input {
    overflow: visible;
  }
  
  label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  
  .auth-btn {
    background: $main-color;
    border-color: $main-color;
    cursor: pointer;
    padding: 0.375rem 1.2rem;
    color: $text-color;
    border-radius: 4px;
    line-height: 24px;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid $main-color;
    margin-top: 8px;
    outline: none;
  }

  .btn-div {
    text-align: center;
  }
  