.record-container {
  margin: 60px 20px;
}

.list {
  list-style-type: none;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 32px;
  background: #f5f5f5;
  padding: 16px;
  border: 1px solid #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px 0px;
}